# For reference, see:
# https://github.com/marketplace/actions/colab-badge-action
# https://dev.to/trsvchn/jupyter-co-github-action-for-colab-badges-generation-5d7p

name: Add Colab Badges
on:
  push:
    paths:
      # Trigger workflow only for notebooks. md, or or qmd file changes
      - "**.ipynb"
      - "**.md"
      - "**.qmd"
  pull_request:
    paths:
      # The same for PR
      - "**.ipynb"
      - "**.md"
      - "**.qmd"

jobs:
  badges:
    name: Colab Badge
    runs-on: ubuntu-latest
     permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      # First do checkout
      - name: Checkout
        uses: actions/checkout@v2

      # Then launch the colab-badge-action (v4)
      - name: Add/Update badges
        uses: trsvchn/colab-badge-action@v4
        with:
          target_branch: main
          target_repository: "" # current repository
          check: "all"  # Check all notebook/md files
          update: true  # Update self-badges for renamed/moved notebooks
          verbose: true  # Print some info during the run

      # After that we have to commit and push changes
      # Note: this step requires GitHub token
      - name: Commit and Push the Colab Badge Changes
        uses: stefanzweifel/git-auto-commit-action@v4 # see: https://github.com/marketplace/actions/git-auto-commit
        with:
          commit_message: "Add Colab Badges"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # And that's it!